body {
    font-family: "Roboto"; sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo-link {
    font-family: "Raleway"; sans-serif;
        font-size: 18px;
        color: #2E2F42;
        text-decoration: none;
        text-transform: uppercase;
}
ul {
    list-style-type: none;
    text-decoration: none;
}

 .logo-name {
    color: #4D5AE5;
 
}
.menu-link {
    text-decoration: none;
    color: #2E2F42;
}

.address-link {
    color: #434455;
    text-decoration: none;
}

.post-title {
color: #FFFFFF;
background-color: #2E2F42;
font-size: 56px;
text-align: center;
}
.post-button {
color: #FFFFFF;
background-color: #4D5AE5;
text-align: center;
} 
.post {
text-align: center;
}
.solutions-name {
font-size: 20px;
color: #2E2F42;
}
.section-team {
font-size: 36px;
text-align: center;

}
.team-member {
font-size: 20px;
color: #2E2F42;

}
.section-text {
text-align: left;}

.portfolio-section {
text-align: center;
font-size: 36px;
}






