body {
    font-family: "Roboto"; sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;

}
.logo {
    
    font-family: "Raleway"; sans-serif;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
}
 .logo-name {
    color: #4D5AE5;
    text-transform: uppercase;
}
.menu-link {
text-decoration: none;

}
.navigation-menu {
    color: #2E2F42;
    text-decoration: none;
}
.address-menu .link {
    color: #434455;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
.page-title {
color: #FFFFFF;
background-color: #2E2F42;
font-size: 56px;
text-align: center;
}
.button-title {
color: #FFFFFF;
background-color: #4D5AE5;
text-align: center;
} 

.section-title {
font-size: 20px;
color: #2E2F42;
}
.section-team {
font-size: 36px;
text-align: center;
}
.section-text {
text-align: left;}
.team-member {
font-size: 20px;
color: #2E2F42;
}
.portfolio-section {
text-align: center;
font-size: 36px;
}






