body {
    font-family: "Roboto"; sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
.link {
    text-decoration: none;

}
.logo {
    
    font-family: "Raleway"; sans-serif;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
}
 .logo-name {
    color: #4D5AE5;
    text-transform: uppercase;
}
.menu-link {
text-decoration: none;
}
.navigation-menu {
    color: #2E2F42;
    text-decoration: none;
}
.address-menu .link {
    color: #434455;
}







